//colors
$red: #e45028;

//breakpoints
$tablets:768px;
$phones:480px;

@mixin tablets(){
  @media screen and (max-width: $tablets) {
    @content;
  }
}



@mixin phones {
  @media screen and(max-width: $phones) {
    @content;
  }
}
@import "misc/media.scss";



//normalize
@import "misc/normalize.scss";

// media


// setups

@import "misc/fonts.scss";
@import "misc/layout.scss";



//blocks

@import "blocks/header.scss";
@import "blocks/hamburger__menu.scss";
@import "blocks/hero.scss";
@import "blocks/btn.scss";
@import "blocks/headline.scss";
@import "blocks/best.scss";
@import "blocks/reviews.scss";
@import "blocks/fixed__menu.scss";
@import "blocks/team.scss";
@import "blocks/menu.scss";
@import "blocks/footer.scss";
@import "blocks/delivery.scss";
@import "blocks/map.scss";
@import "blocks/burger.scss";
@import "blocks/ingredients.scss";
@import "blocks/popup.scss";
@import "blocks/video.scss";

