.best{
    background: url(../img/content/fon__best.png) center center / cover no-repeat;
}

/*.best__container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headline-best{
    text-align: center;
    padding-top: 133px;
}*/

.best__list{
    display: flex;
    justify-content: center;
}

.description__item{
    flex:1;
    margin-right: 15px;

    &:last-child{
        margin-right: 0;
    }
    
    text-align: center;
    
    list-style-type: none;
}

.best__image--icon{
    display:inline-block;
}

.best__title{
    font-family:'Lifehack Medium';
    color: #2f3234;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.14px;
}

.best__text{
    font-family:'ubuntu-light';
    font-size: 14px;
    font-weight: 300;
    line-height: 24.02px;
}


