.btn {
  background: "$red";
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: ubuntu-medium; }
