.btn{
    cursor: pointer;
    border: none;
    background: $red;
    padding: 8px 15px;
    font-size: rem(13px);
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:ubuntu-medium;
    
    &_background_black-one{
        background:#2f3234;
        @include phones{
            display: none;
        }
    }

    &_background_black-two{
        background:#2f3234;
        
        display: none;
    font-size: rem(14px);
    border: none;
    @include phones{
        display: flex;
    }
    }
       
    
}

.popup__button{
    margin-right: 1.25rem;
    font-family: 'ubuntu-light';
    border: 0;
    background: #e45028;
    font-size: rem(12px);
    text-transform: uppercase;
    border-radius: 0.3125rem;
    color: #ffffff;
    padding: 0.625rem 0.9375rem;
    cursor: pointer;
}