.btn{
    background: $red;
    padding: 8px 15px;
    font-size: rem(13px);
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:ubuntu-medium;
    
    &_background_black-one{
        background:#2f3234;
        @include phones{
            display: none;
        }
    }

    &_background_black-two{
        background:#2f3234;
        justify-content: center;
        display: none;
    font-size: rem(14px);
    @include phones{
        display: flex;
    }
    }
       
    
}