.delivery {
  background: url(../img/content/delivery_fon.png) center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.headline__delivery {
  text-align: center;
  color: #f9b43b;
}

.form {
  margin-left: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  width: 45%;
  margin-left: 5%;
}

.form__row {
  margin-bottom: 1rem;
  display: flex;
  margin-left: -10px;
}

.form__block {
  margin-right: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 100%;
  margin-left: 10px;
}

.form__block-title {
  margin-bottom: 1.0625rem;
  font-family: 'ubuntu-light';
  color: #fff;
  font-size: 0.875rem;
}

.form__block-input {
  border: none;
  color: #ffffff;
  width: 100%;
  font-size: 0.875rem;
  padding: 0.625rem;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #d1cfcb;
  border-radius: 0.3125rem;
}

.form__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 1.25rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__radio-elem {
  position: absolute;
  top: 0;
  left: -624.9375rem;
}

.form__radio-fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  position: relative;
}

.form__radio-title {
  font-family: 'ubuntu-light';
  font-size: 0.875rem;
  color: #fff;
  margin-left: 0.625rem;
}


  .form__buttons {
    margin-left: 10px;
}


.form__button {
  margin-right: 1.25rem;
  font-family: 'ubuntu-light';
  border: 0;
  background: #e45028;
  font-size: 0.8125rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  color: #ffffff;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
}

.form__button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}