.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    align-items: center;
}

.menu__item{
  
   
&:last-child{
&:after{
    //display: none;
    content: none;
    margin: 0 rem(10px);
}
}
    &:after{
    content: "";
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    display: inline-block;
    background: #ffffff;
    margin:0 rem(10px);

    @include tablets{
        margin-left: 50%;
        margin-top: rem(10px);
        margin-bottom: rem(10px);
        display: flex;
       // margin:rem(10px) rem(10px) rem(10px) rem(10px);
    }
    }
}

.menu__item-link{
    text-transform:uppercase;
    text-decoration: none;
    font-size: rem(13px);
    color: #ffffff;
    font-family:'ubuntu-medium';
}

.header__buttons{
    display: flex;
    align-items: center;
}

.header__buttons.is-active{
    display: flex;
    opacity: 1;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.header__menu{

    @include tablets(){
        display:none;
    }
}