.hero {
  background: url("../img/content/burger_fon.png") center center/cover no-repeat; }

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.hero__menu-button {
  margin-left: 15px;
  background: "$red"; }

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: .75;
  -ms-flex: .75;
  flex: .75; }

.hero__content-headline {
  color: #f9b43b; }

.hero__content-description {
  color: #ffffff;
  font-size: 55px;
  font-family: 'Lifehack Medium'; }
