.ingredients__list{
    display: flex;
    align-items: center;
    margin-top: rem(10px);
}

.ingredients__text{
    margin: 0 40px 0 40px;
    font-family:'ubuntu-medium';
    font-size: rem(14px);
}

.ingredients__ves{
    font-family:'ubuntu-light';
    font-size: rem(14px);
}