//.map{
 //   background: url('../img/content/map.png') center center / cover no-repeat;
//}


.map{
    position: relative;
}
.map__interactive{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}