.menu{
    background: url('../img/content/fon__menu.png') no-repeat;
    background-size: cover;
    position: relative;
}

.headline__menu{
    top:10%;
    left:10%;
    position: absolute;
    color: #ffffff;
}



.menu__accordeon{

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
   
}


.menu__accordeon-item{
   
    display: flex;
}

.menu__accordeon-item_active .menu_accordeon-text__title {
    color: #f9b43b;
}

.menu__accordeon-item_active .menu__accordeon-description{
    max-width: 33.75rem;
    padding: 3.875rem 2.1875rem;
    visibility: visible;
    opacity: 1;
}

.menu_accordeon-text__title{
    position: relative;
    width: 5rem;
    font-family:'Gagalin-Regular';
    font-size: 2.5rem;
    color: #fff;
    line-height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    text-transform: uppercase;
    flex-shrink: 0;
    @include phones{
        width: 3rem;
    }
}

.menu_accordeon-text__title  span {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    bottom: 0;
    right: 0;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    
}


/*.menu_accordeon-text__title {
    white-space: nowrap;
    font-size:rem(40px);
	color: #fff;
	text-align: center;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: rem(-20px);
}
*/
.menu__accordeon-content{
	height: 100%;
	float: left;
	background: rgba(#2f3234, .93);
	width: 0;
	overflow: hidden;
}

.menu__accordeon-description {

background-color: rgba(47, 50, 52, 0.929);
color: #fff;
font-size: rem(14px);
font-family: 'ubuntu-light';
line-height: 1.714;
max-width: 0rem;
visibility: hidden;
opacity: 0;
transition: 1s;
transition-property: max-width, opacity, visibility;
}