.popup {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
  }
  
  .opened {
    opacity: 1;
    transition: opacity .3s;
  }
  
  .overlay {
    background: rgba(00, 00, 00, .5);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .popup__container {
    max-width: rem(450px);
    padding:rem(25px) rem(20px);
    position: fixed;
    //top: 50%;
    //left: 50%;
    
    border-radius: 5px;
    background: #ffffff;
    color: #000000;

    @include phones{
      max-width: rem(338px);
    }

  }

  /*.popup__content{
    font-family: 'ubuntu-light';
    font-size: rem(14px);
  }*/
  
  .popup__close {
    width: rem(20px);
    height: rem(20px);
    display: block;
    position: absolute;
    background: url('../img/content/close.png');
   background-size: contain;
    top:rem(20px);
    right: rem(20px);
  }
  
  /*.popup__close:after {
    position: absolute;
    content: "+";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    color: #2d3436;
  }
*/
 