.team {
    background: url(../img/content/team.png) no-repeat; 
    background-size: cover;
    position: relative;

    .headline-team{
        margin-bottom: 12%;
        text-align: center;
    }
}



.accordeon__item{
    margin-bottom: rem(40px);
  
	&:last-child {
		margin-bottom: 0;
	}

	&.active {
		.name {
			color: #f9b43b;

			&:before {
				transform: rotate(-180deg);
            }
            
            @include tablets{
                flex-direction: column;
                align-items: center;
            }
		}
	}
}
  



.info__team{
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;*/
    padding: 5% 2% 0 7%;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    background: #2f3234;
    left: 50%;
    opacity: 0.93;

    @include tablets{
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}


.headline-team{
    color:#f9b43b;
}


    
.name {
	color: #fff;
	font-size: rem(14px);
    text-transform: uppercase;
    font-family: 'Gagalin-Regular';
	text-decoration: none;
	position: relative;
  display: inline-flex;
  margin-bottom: rem(20px);
  align-items: center;  
  
  @include tablets() {
    font-size: rem(25px);
  }

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		left: rem(-18px);
		top: rem(8px);
		width: 0;
    height: 0;
	}

	&:before {
		border-top: rem(7px) solid #f9b43b;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-bottom: rem(0px) solid transparent;
		transform: rotate(0deg);
		transition: .3s;
	}

	&:after {
		display: none;
		border-bottom: rem(7px) solid #f9b43b;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-top: rem(0px) solid transparent;
	}
}

.accordeon__item_is-active{
    .accordeon__team-content{
        display: flex;
        
    }

    .name{
        color:#f9b43b;
    }
}

    .accordeon__team-content{

        padding-top: rem(14px);
        display: none;
        @include tablets{
            align-items: center;
            flex-direction: column;
           // display: flex;

        }

        
    
    }
    
 

.team__accordeon-text{
    padding: 10px;
    color: #ffffff;
    width: 70%;

}

.team__accordeon-title{
    font-family:'ubuntu-bold';
    font-size: rem(14px);
	color: #fff;
	margin-bottom: rem(14px);
   
}

.team__accordeon-text-content{
    font-family: 'ubuntu-light';
    color: #fff;
	font-size: rem(14px);

}

.team__accordeon{
    @include tablets{
        text-align: center;
    }
}

.photo__people{
    width: rem(100px);
	height: rem(100px);
	background-size:  cover;
	border-radius: 50%;
}

