.team {
    background: url(../img/content/team.png) no-repeat; 
    background-size: cover;
    position: relative;

    .headline-team{
        margin-bottom: 12%;
        text-align: center;
    }
}

.info__team{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5% 2% 0 7%;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    background: #2f3234;
    width: 50%;
    opacity: 0.93;
}

.team__content{
    
}

.headline-team{
    color:#f9b43b;
}

.name{
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.13px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Gagalin-Regular';
}

.accordeon__item{
  /*  margin-bottom: 40px;*/
}

.accordeon__team-content{
    display: flex;
    align-items: center;
}

.team__accordeon-text{
    width: 70%;
    color: #ffffff;
    font-size: 14px;

}

.team__accordeon-title{
    font-family:'ubuntu-bold';
   
}

.team__accordeon-text-content{
    font-family: 'ubuntu-light';

}